[tool.poetry]
name = "gym-saturation"
version = "0.3.10"
description = "An OpenAI Gym environment for saturation provers"
authors = ["Boris Shminke <boris@shminke.ml>"]
license = "Apache-2.0"
repository = "https://github.com/inpefess/gym-saturation"
readme = "README.rst"
classifiers=[
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
	"License :: OSI Approved :: Apache Software License",
	"Operating System :: OS Independent",
	"Intended Audience :: Science/Research",
	"Development Status :: 3 - Alpha",
	"Environment :: Console",
	"Natural Language :: English",
	"Topic :: Scientific/Engineering :: Artificial Intelligence",
	"Typing :: Typed"
]
include = ["gym_saturation/py.typed"]

[tool.poetry.dependencies]
python = ">= 3.7.1, < 3.11"
gym = "*"
importlib_resources = {version = "*", markers = "python_version < \"3.9\""}
orjson = "*"
pexpect = "*"
tptp-lark-parser = "*"

[tool.poetry.dev-dependencies]
black = "*"
jupyterlab = "*"
mypy = "*"
pylint = "*"
pytest-coverage = "*"
pre-commit = "*"
types-dataclasses = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
flake8 = "*"

[tool.black]
line-length=79

[tool.isort]
profile = "black"
src_paths = ["gym_saturation"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--doctest-modules --cov gym_saturation --cov-report xml --cov-fail-under=99 --junit-xml test-results/saturation_gym.xml"
testpaths = ["gym_saturation"]
doctest_optionflags = "NORMALIZE_WHITESPACE"

[tool.pylint.master]
disable = "bad-continuation"

[tool.pylint.format]
ignore-long-lines = "(::=|:==|this_is_a_test_case|gym_saturation.saturation_prover.saturation_algorithm|:math:|.. math::|https://)"
max-line-length = 79

[tool.pylint.design]
max-statements = 10

[tool.pylint.typecheck]
generated-members = ["orjson"]

[tool.mypy]
show_error_codes = true
incremental = false
disable_error_code = "no-redef"

[[tool.mypy.overrides]]
module = [
    "gym.*",
    "pexpect",
    "importlib_resources"
]
ignore_missing_imports = true
