[tool.poetry]
name = "gym-saturation"
version = "0.8.1"
description = "Gymnasium environments for saturation provers"
authors = ["Boris Shminke <boris@shminke.ml>"]
license = "Apache-2.0"
repository = "https://github.com/inpefess/gym-saturation"
readme = "README.rst"
classifiers=[
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
	"Programming Language :: Python :: 3.11",
	"License :: OSI Approved :: Apache Software License",
	"Operating System :: OS Independent",
	"Intended Audience :: Science/Research",
	"Development Status :: 3 - Alpha",
	"Environment :: Console",
	"Natural Language :: English",
	"Topic :: Scientific/Engineering :: Artificial Intelligence",
	"Typing :: Typed"
]
include = ["gym_saturation/py.typed"]

[tool.poetry.dependencies]
python = ">= 3.8.1, < 3.12"
importlib_resources = {version = "*", markers = "python_version < \"3.9\""}
pexpect = "*"
gymnasium = "*"

[tool.poetry.group.dev.dependencies]
black = "*"
jupyterlab = "*"
mypy = "*"
pylint = "*"
pytest-coverage = "*"
pre-commit = "*"
types-dataclasses = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
pydocstyle = "*"
tbump = "*"
pyenchant = "*"
flake8 = "*"

[tool.black]
line-length=79

[tool.isort]
profile = "black"
src_paths = ["gym_saturation"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--doctest-modules --cov gym_saturation --cov-report xml --cov-fail-under=99 --junit-xml test-results/gym-saturation.xml"
testpaths = ["gym_saturation"]
doctest_optionflags = "NORMALIZE_WHITESPACE ELLIPSIS"

[tool.pylint.MASTER]
load-plugins = [
    "pylint.extensions.consider_ternary_expression",
    "pylint.extensions.docparams",
    "pylint.extensions.mccabe",
    "pylint.extensions.set_membership",
]

[tool.pylint.parameter_documentation]
accept-no-param-doc = false
accept-no-raise-doc = false
accept-no-return-doc = true
accept-no-yields-doc = false
default-docstring-type = "sphinx"

[tool.pylint.similarities]
ignore-comments = true
ignore-docstrings = true
ignore-imports = true
ignore-signatures = true
min-similarity-lines = 4

[tool.pylint.format]
ignore-long-lines = "https://"
max-line-length = 79

[tool.pylint.design]
max-statements = 10

[tool.pylint.typecheck]
generated-members = ["asyncio"]

[tool.pylint.spelling]
spelling-dict = "en_GB"
spelling-private-dict-file = "spelling.dict"

[tool.mypy]
show_error_codes = true
incremental = false
disable_error_code = "no-redef"
check_untyped_defs = true

[[tool.mypy.overrides]]
module = ["pexpect", "importlib_resources", "enchant.*"]
ignore_missing_imports = true

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
envlist = py38,py39,py310,py311

[testenv]
deps =
    pytest-cov
    pydocstyle
    pylint
    mypy
    toml
    pyenchant
    flake8
commands =
    pydocstyle gym_saturation
    flake8 gym_saturation
    pylint gym_saturation
    mypy gym_saturation
    pytest
"""

[tool.tbump]
github_url = "https://github.com/inpfess/gym-saturation/"

[tool.tbump.version]
current = "0.8.1"
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  '''

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[tool.tbump.file]]
src = "gym_saturation/__init__.py"

[[tool.tbump.file]]
src = "pyproject.toml"

[[tool.tbump.file]]
src = "doc/source/conf.py"
