[tool.poetry]
name = "gym-saturation"
version = "0.0.5"
description = "An OpenAI Gym environment for saturation provers"
authors = ["Boris Shminke <boris@shminke.ml>"]
license = "Apache-2.0"
repository = "https://github.com/inpefess/gym-saturation"
readme = "README.md"
classifiers=[
	"Programming Language :: Python :: 3.6",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",	
	"License :: OSI Approved :: Apache Software License",
	"Operating System :: OS Independent",
	"Intended Audience :: Science/Research",
	"Development Status :: 1 - Planning",
	"Environment :: Console",
	"Natural Language :: English",
	"Topic :: Scientific/Engineering :: Artificial Intelligence",
	"Typing :: Typed"
]
include = ["gym_saturation/py.typed"]

[tool.poetry.dependencies]
python = ">= 3.6.1, < 4.0"
lark-parser = "*"
gym = "*"
importlib_resources = {version = "*", markers = "python_version < \"3.9\" and python_version >= \"3.7\""}
dataclasses = {version = "*", markers = "python_version < \"3.7\""}

[tool.poetry.dev-dependencies]
jedi = "0.17.2"
rope = "*"
black = "*"
jupyterlab = "*"
mypy = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"
pytest-coverage = "*"
pre-commit = "*"
tomlkit = "*"
types-dataclasses = "*"
vulture = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"

[tool.black]
line-length=79

[tool.isort]
profile = "black"
src_paths = ["gym_saturation"]

[build-system]
requires = ["poetry-core>=1.1.7"]
build-backend = "poetry.core.masonry.api"
