version: 2.1
jobs:
  build-and-test:
    docker:
      - image: inpefess/python_with_provers:2025.12.25
    steps:
      - checkout
      - run:
          name: use tox
          command: |
            pip install tox
            pyenv local 3.10.18 3.11.13 3.12.11 3.13.8 3.14.0
            tox
      - run:
          name: upload data to codecov
          command: |
            bash <(curl -s https://codecov.io/bash) -X gcov -X coveragepy
      - store_artifacts:
          path: build
      - store_test_results:
          path: test-results
workflows:
  main:
    jobs:
      - build-and-test
